@font-face {
    font-family:Open_Sans;
    src: url(/assets/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}

*{
    font-family: Open_Sans;
}

 body {
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    animation: alternate;
}

.nav-right{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}


div{
    display: block;
}

.nav-item{
    margin-left: 4vw;
}


.sections{
    /*  */
    padding-left: 10vw;
    padding-right: 10vw;
    animation: slide 1s ease-out 1;
    text-align: center;
}


.navbar{
    display: flex;
    
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 7vw 1vh 7vw;
}

.about-me{
    padding: 15vh 10vh 25vh 5vh;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: column;
    text-align: left;

}

.list{
    list-style: none
}


p.position{
    font-size: 0.875em;
}

.wgo{
    
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}


.card-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3% 3% 60px 3%;
}

.card{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    /* border-radius: 6px; */
    /* elements are set into boxes, here positions the element 25px left and right away from parent element and 4% of parent size) */
    margin: 20px 3vw;
    max-width: 25vw;
    max-height: 30vh;
    background-color: white;
    height: fit-content;
}
.card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    border-radius: 10px;
  }

.card-img{
    width: 23vw;
    height: 20vh;
    
}

.card-desc{
    padding:0px 16px;
    
    text-align: left;
}

ul{
    padding:0;
}

h1,h2,h3,h4,h5,h6, p{
    margin: 0px;
    padding:0px;
}

.footer{
    display: flex;
    justify-content: space-around;
    padding: 15vh 0px 3vh 0px;
    
}
.footer-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.current-text-wrapper{
    font-size: 12px;
    padding: 2px 0px;

}




