html, body {
    height: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    animation: alternate;
}

.nav-right{
    margin: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

div{
    display: block;
}

.nav-item{
    margin-left: 4vw;
}

.introduction{
    padding: 3vw;
    max-width: fit-content;
    position: absolute;
}


.sections{
    /*  */
    padding-left: 10vw;
    padding-right: 10vw;
    animation: slide 1s ease-out 1;
}


.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh 7vw 1vh 7vw;
}

.about-me{
    width: 300px;
    height: 200px;
}

.list{
    list-style: none
}


p.position{
    font-size: 0.875em;
}

.wgo{
    
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
}


.card-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 3% 60px 3%;
}

.card{
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    /* border-radius: 6px; */
    /* elements are set into boxes, here positions the element 25px left and right away from parent element and 4% of parent size) */
    margin: 20px 3vw;
    width: 25vw;
    height: 30vh;
    background-color: gray;
    height: fit-content;
}
.card:hover {
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
    border-radius: 10px;
  }

.card-img{
    width: 23vw;
    height: 20vh;
    
}

.card-desc{
    padding:0px 16px;
    
    text-align: left;
}

ul{
    padding:0;
}


